
<div *ngIf="question" class="question-detail">
  <div [innerHTML]="question.Text"></div>
  <app-votes [votedItem]="question"></app-votes>
  <div *ngIf="question.answers && question.answers.length === 0"><b>No Answers to display!</b></div>
  <div *ngIf="question.answers && question.answers.length > 0">
    <h3>Answers</h3>
    <ul class="answers">
            <li class="answer" *ngFor="let answer of question.answers">
                <span class="answer-id">{{answer.Id ? answer.Id: 'Custom-Id'}}</span> 
                <div [innerHTML]="answer.Answer ? answer.Answer : 'No Content Available'"></div>
                <app-user-info [user]="answer.created_by"></app-user-info>
                <app-votes [votedItem]="answer"></app-votes>
            </li>
    </ul>
  </div>
  <app-add-answer [answers]="question.answers"></app-add-answer>
</div>